# Importing libraries

In [23]:
import numpy as np  
import pandas as pd 
import matplotlib.pyplot as plt

# Loading Dataset

In [12]:
data=pd.read_csv(r"D:\Myntra Kurtis\Myntra kurtis.csv")

In [13]:
data

,Brand Name,Product URL,Image,Product Ratings,Number of ratings,Product Info,Selling Price,Price,Discount
0,Rain & Rainbow,https://www.myntra.com/kurtis/rain--rainbow/ra...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",4.2,28,Printed Pure Cotton Kurti,837.0,1395.0,(40% OFF)
1,HERE&NOW,https://www.myntra.com/kurtis/herenow/herenow-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",4.2,805,Embroidered Pure Cotton A-Line Kurti,719.0,1799.0,(60% OFF)
2,Anouk,https://www.myntra.com/kurtis/anouk/anouk-wome...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",4.2,2800,Printed Pure Cotton Indigo Anarkali Kurta,594.0,1699.0,(65% OFF)
3,Anubhutee,https://www.myntra.com/kurtis/anubhutee/anubhu...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",4.3,1100,Ethnic Motifs Printed Kurti,521.0,1739.0,(70% OFF)
4,GERUA,https://www.myntra.com/kurtis/gerua/gerua-wome...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",4.2,157,Ethnic Motifs Printed Kurti,449.0,1499.0,(70% OFF)
...,...,...,...,...,...,...,...,...,...
594,FAWOMENT,https://www.myntra.com/kurtis/fawoment/fawomen...,NaN,NaN,0,Floral Embroidered Kurti,911.0,3037.0,(70% OFF)
595,Fabindia,https://www.myntra.com/kurtis/fabindia/fabindi...,NaN,NaN,0,Yoke Design Kurti,1959.0,2799.0,(30% OFF)
596,all about you,https://www.myntra.com/kurtis/all-about-you/al...,NaN,NaN,0,Yoke Design A-Line Kurti,759.0,1899.0,(60% OFF)
597,MALHAAR,https://www.myntra.com/kurtis/malhaar/malhaar-...,NaN,4.8,6,Pure Cotton Kurti,574.0,2299.0,(75% OFF)
598,Pistaa,https://www.myntra.com/kurtis/pistaa/pistaa-ye...,NaN,4.4,25,Embroidered Kurti,649.0,1799.0,(Rs. 1150 OFF)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand Name         599 non-null    object
 1   Product URL        599 non-null    object
 2   Image              132 non-null    object
 3   Product Ratings    401 non-null    float64
 4   Number of ratings  599 non-null    int64
 5   Product Info       599 non-null    object
 6   Selling Price      525 non-null    float64
 7   Price              525 non-null    float64
 8   Discount           525 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 42.2+ KB

In [15]:
print(data.isnull().sum())

Brand Name             0
Product URL            0
Image                467
Product Ratings      198
Number of ratings      0
Product Info           0
Selling Price         74
Price                 74
Discount              74
dtype: int64

# Data Preprcoessing

In [16]:
data = data.drop("Image",axis=1)

In [17]:
data['Product Ratings'].fillna(data['Product Ratings'].mean(), inplace=True)

In [18]:
data=data.dropna()

In [19]:
print(data.isnull().sum())

Brand Name           0
Product URL          0
Product Ratings      0
Number of ratings    0
Product Info         0
Selling Price        0
Price                0
Discount             0
dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525 entries, 0 to 598
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand Name         525 non-null    object
 1   Product URL        525 non-null    object
 2   Product Ratings    525 non-null    float64
 3   Number of ratings  525 non-null    int64
 4   Product Info       525 non-null    object
 5   Selling Price      525 non-null    float64
 6   Price              525 non-null    float64
 7   Discount           525 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 36.9+ KB

In [41]:
from nltk.corpus import stopwords

In [42]:
text = " ".join(i for i in data["Brand Name"])

# Recommendation System

In [27]:
Mr = data['Product Ratings'].mean()  
m = data['Number of ratings'].quantile(0.9)  
n = data['Number of ratings']  
a = data['Product Ratings']  
data["Score"]  = (n/(n+m) * a) + (m/(m+n) * Mr)

In [37]:
Recommendations = data.sort_values('Score', ascending=False)

In [38]:
print(Recommendations[['Brand Name', 'Product Info',  
                       'Product Ratings', 'Score',   
                        'Discount']].head(10))

         Brand Name                                       Product Info  \
48            Tissu                    Women Floral Print A-Line Kurti
66     YASH GALLERY                               Printed A-Line Kurti
11        Anubhutee                        Ethnic Motifs Printed Kurti
155       Anubhutee                                Women Printed Kurti
102          AKIMIA                      Embroidered Pure Cotton Kurti
18            GERUA                        Ethnic Motifs Printed Kurti
20   Rain & Rainbow                        Ethnic Printed Cotton Kurti
42   Rain & Rainbow  Women Printed Pure Cotton Pure Cotton A-Line K...
27        Anubhutee                       Women Printed Straight Kurti
121          AKIMIA        Ethnic Motifs Embroidered Pure Cotton Kurti

     Product Ratings     Score   Discount
48               4.4  4.359842  (45% OFF)
66               4.5  4.339881  (55% OFF)
11               4.4  4.330138  (70% OFF)
155              4.4  4.326697  (72% OFF)
102              4.5  4.315946  (52% OFF)
18               4.6  4.308059  (70% OFF)
20               4.5  4.300522  (45% OFF)
42               4.4  4.296386  (50% OFF)
27               4.3  4.284438  (70% OFF)
121              4.4  4.280503  (52% OFF)